{% extends "base.html" %}
{% load static %}



{% block content %}


<div class="container my-5">
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Welcome To Klarart</h1>
          <p class="lead text-muted">
              Whether it's a gift for a loved one, or something for youself.
              Klarart is sure to have something you like. If not, get in touch.
              We make custom, handmade pieces
          </p>
          <p>
            <a href="{% url 'products' %}" class="btn btn-primary my-2"> Shop Now  </a>
            <a href="{% url 'contact' %}" class="btn btn-secondary my-2">Get In Touch</a>
          </p>

        </div>
      </section>
</div>
</div>

{% endblock %}