{% extends "base.html" %}
{% load static %}

{% block content %}

{% block header %}Store {% endblock %}
<div class="album py-5 bg-light">
  <div class="container">
    {% for products in products %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <div class="card shadow-sm">
            {% if products.image.url %}
              <img class="img-fluid" src="{{ products.image.url }}" alt="{{ products.title }}">
            {% else %}
              <img class="img-fluid" src="/media/default.jpg" alt="{{ products.title }}">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ products.title }}</h5>
              <p class="card-text">{{ products.description|slice:"50" }}</p>
              <p class="card-text" >£{{ products.price }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-secondary">View Product </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}


{% endblock %}