{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
          </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">£{{ product.price }}</p>
          <div class="col-6">
            <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
              {% csrf_token %}
              <div class="form-row">
                <div class="col-12">
                  <p><strong>Qty:</strong></p>
                  <div class="form-group w-50">
                    <input class="form-control qty-input" type="number" name="quantity" value="1" min="1" max="99">

                  </div>
              </div>
              <div class="col-6">
                <a href="{% url 'products' %}" class="btn">
                  <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                  </span>
                  <span>Keep Shopping</span>
                </a>
                <input type="submit" class="btn btn-secondary" value="Add To Basket">
              </div>
              <input type="hidden" name="redirect_url" value="{{ request.path }}">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}